<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Listado de productos</h4>
                      
                  </div>
                  <div class="card-body">
                    
                        <div class="table-responsive">
                                <!--         <dx-data-grid id="gridContainer" class="table table-hover" 
                                         [showBorders]="true" [allowColumnReordering]="true" columnAutoWidth="true"
                                         [dataSource]="Gpsbrand.ListGpsbrand"
                                         [showColumnLines]="true"
                                         [showRowLines]="true"
                                         [rowAlternationEnabled]="true" >
                                         
                                         <dxo-search-panel [visible]="true" icon="plus"  aria-placeholder="buscar">Buscar</dxo-search-panel><br><br><br>
                                        
                                         <dxo-paging [pageSize]="15"></dxo-paging>
                                         <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]"></dxo-pager>
                                         <dx-button   [width]="90" ></dx-button>
                                   
                                         <dxi-column  dataField="name" caption="Marca"  ></dxi-column>
                             
                                         <dxo-export [enabled]="true"  ></dxo-export>
                                          
                                       </dx-data-grid>
                 
                 --> 
                 
                 
                 <table  class="table table-hover"  >
                         <thead  class="text-danger"> 
                                 <th>
                                     Marca
                                 </th>
                                
                                
                             </thead>
                             <tr *ngFor="let employee of  solicitudes.ListadoSolicitudes">
                       
                   <!--   <tr *ngFor="let employee of  solicitudes.ListadoSolicitudes  | paginate: { itemsPerPage: 5, currentPage: p }">
                       --> 
                         <td>
                             {{employee.IDHDPedido}}
                         </td>
                       
                     </tr>
                  <!--   <pagination-controls (pageChange)="p = $event"></pagination-controls>
                     -->
                 
                 
                 </table>
                                       </div>

                  </div>
              </div>
          </div>
      </div>
  </div>
</div>






   
  
